<section class="container">
      <div class="columns is-multiline ">
         <% posts.each do |post| %>
        <div class="column is-3 is-flex">
          <div class="card ">
            <header class="card-header">
              <p class="card-header-title">
                <%= link_to post.title, post_path(post)%>
              </p>
            </header>
            <div class="card-image image ">
              <%= link_to post_path(post) do %>
      　　　　　　　　　<% post.images.first(1).each do |image| %>
                  <%= image_tag image, format: 'jpg', height: "100px" %>
                <% end %>
              <% end %>
            </div>
            <div class="card-content">
               <div class="content average-score">
                   <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= post.review_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                   </div>
                </div>
              　<table class="table is-narrow">
                  <tr>
                    <th>レビュー</th>
                  </tr>
                  <tr>
                    <td><%= post.body %></td>
                  </tr>
                  <tr>
                    <th>カテゴリ:<%= post.category.name %></th>
                  </tr>
                </table>
                <div class="card-content">コメント件数：<%= post.post_comments.count %></div>
              </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
