<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿一覧画面
      </h1>
    </div>
  </div>
</section>
<section class="container">
	<div class="columns">
    <div class="column is-large">
  		<h3>カテゴリ絞り込み</h3>
  		<% @categories.each do |categories| %>
  			<%= link_to categories.name, posts_path(category_id: categories.id) %>
  		<% end %>
  	    <h3>タグ絞り込み</h3>
  		<% @tag_list.each do |tag| %>
  			<%= link_to tag.name, posts_path(tag_id: tag.id) %>
  		<% end %>
  	</div>
	</div>
</section>
<section class="container">
  <div class="columns">
    <div class="column">
     	<% if params[:category_id] %>
        <h2 class="title"><%= @category.name %>の投稿一覧 (全<%= @all_posts_count %>件)</h2>
      <% elsif params[:tag_id] %>
        <h2 class="title"><%= @tag.name %>の投稿一覧 (全<%= @all_posts_count %>件)</h2>
      <% else %>
        <h2 class="title">投稿一覧 (全<%= @all_posts_count %>件)</h2>
      <% end %>
		</div>
	</div>
</section>
<%= render 'index', posts: @posts %>