<h1>投稿一覧</h1>
 <div class="d-flex flex-wrap ">
        <% @posts.each do |posts| %>
        <div class="ml-1">
          <div>
           <%= image_tag attachment_url(posts, :image, :fill, 300, 300, format: "jpg") %>
           <%= posts.title %>
          </div>
          <div>
            <%= posts.body %>
          </div>
          <div>
            <%= posts.review %>
          </div>
          <div>
            <%= posts.category.name %>
          </div>

        </div>
       <% end %>
      </div>
  </div>
</div>

