 <table class="table table-hover table-inverse">
      <thead>
        <tr>
         <th></th>
          <th>タイトル</th>
          <th>本文</th>
         <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
              <% @post.images.each do |image| %>
                <%= attachment_image_tag image, :image, format: 'png', size: "100x100" %>
              <% end %>
          </td>
          <td><%= @post.title %></td>
          <td><%= @post.body %></td>
          <td><%= @post.category.name %></td>
          <td>
            <% @post_tags.each do |posts| %>
            <%= posts.name %>
            <% end %>
          </td>
        </tr>
    </table>
