 <section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿詳細画面
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
            　<% @post.images.each do |image| %>
                <%= attachment_image_tag image, :image, format: 'jpg', size: "100x100" %>
              <% end %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @post.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>レビュー</th>
                </tr>
                <tr>
                      <td><%= @post.body %></td>
                      <td><%= @post.category.name %></td>
                      <td>
                        <% @post_tags.each do |posts| %>
                        <%= posts.name %>
                        <% end %>
                      </td>
                </tr>
              </table>
              <% if @post.user_id == current_user.id %>
                <%= link_to "編集画面へ", edit_post_path(@post), class: "button is-success" %>
                <%= link_to "削除する", edit_post_path(@post), class: "button is-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
</section>
<section class="container">
  <div class="columns is-mobile is-centered ">
   <div class="column">
      <div id="map">
           <script>
  let map;

  function initMap() {
    // geocoderを初期化
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.post.latitude,
        lng: gon.post.longitude
      },
      // マップの倍率はお好みで
      zoom: 17,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.post.latitude,
        lng: gon.post.longitude
      },
      map: map
    });
  }
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLEMAP'] %>&callback=initMap">
</script>
        </div>
    </div>
  </div>
</section>

