<h1>カテゴリから探す</h1>
  <div>
    <p>ホテル</p>
    <%= link_to root_path do  %>
      <%= image_tag "hotel.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>
  <div>
    <p>観光スポット</p>
    <%= link_to root_path do  %>
      <%= image_tag "kyoto.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>
  <div>
    <p>飲食店</p>
    <%= link_to root_path do  %>
      <%= image_tag "restaurant.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>
  <div>
    <p>駐車場</p>
    <%= link_to root_path do  %>
      <%= image_tag "parking.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>

<h1>エリアから探す</h1>
  <div>
    <p>北海道</p>
    <%= link_to root_path do  %>
      <%= image_tag "hokkaido.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>
  <div>
    <p>宮城</p>
    <%= link_to root_path do  %>
      <%= image_tag "miyagi.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>
  <div>
    <p>山形</p>
    <%= link_to root_path do  %>
      <%= image_tag "yamagata.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>
  <div>
    <p>新潟</p>
    <%= link_to root_path do  %>
      <%= image_tag "niigata.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>
  <div>
    <p>東京</p>
    <%= link_to root_path do  %>
      <%= image_tag "tokyo.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>
  <div>
    <p>大阪</p>
    <%= link_to root_path do  %>
      <%= image_tag "oosaka.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>
  <div>
    <p>福岡</p>
    <%= link_to root_path do  %>
      <%= image_tag "fukuoka.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>
  <div>
    <p>沖縄</p>
    <%= link_to root_path do  %>
      <%= image_tag "okinawa.jpg", style:"height:200px; width:200px" %>
    <% end %>
  </div>

