 <section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿詳細画面
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <% @post.images.each do |image| %>
            <div class="card-image">
              <figure class="image is-4by3 mt-3">
                  <%= attachment_image_tag image, :image, format: 'jpg', size: "100x100" %>
              </figure>
            </div>
          <% end %>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @post.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>レビュー</th>
                </tr>
                <tr>
                  <td><%= @post.body %></td>
                </tr>
                <tr>
                  <th>カテゴリ</th>
                </tr>
                <tr>
                  <td><%= @post.category.name %></td>
                </tr>
                <tr>
                  <th>タグ</th>
                </tr>
                <tr>
                  <td>
                    <% @post_tags.each do |posts| %>
                    <%= posts.name %>
                    <% end %>
                  </td>
                </tr>
              </table>
                   <%= link_to "削除する", admin_post_path(@post),method: :delete ,class: "button is-danger" %>
            </div>
          </div>
        </div>
      </div>
</section>
