<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規登録画面
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_with model: @user, url: user_registration_path, method: :post  do |f| %>
       <%= render "public/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :"姓" %>
          <p class="control has-icons-left">
           <%= f.text_field :first_name, autofocus: true, class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :"名" %>
          <p class="control has-icons-left">
           <%= f.text_field :last_name, autofocus: true, class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :"セイ" %>
          <p class="control has-icons-left">
           <%= f.text_field :first_name_kana, autofocus: true, class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :"メイ" %>
          <p class="control has-icons-left">
           <%= f.text_field :last_name_kana, autofocus: true, class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :メールアドレス, class: "label" %>
          <p class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :パスワード, class: "label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
          <p class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :パスワード確認用, class: "label" %>
          <p class="control has-icons-left">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="actions">
          <%= f.submit "新規登録", class: "button is-success" %>
        </div>
        <% end %>
         <div class="row ml-5 mt-3">
           <h2>既に登録済みの方</h2>
          </div>
          <div class="row ml-5 mt-3">
            <%= link_to "こちら", new_user_session_path %>
            <span> からログインしてください。</span>
          </div>
      </div>
    </div>
  </div>
</section>

