<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        管理者登録画面
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_with model: @admin, url: admin_registration_path, method: :post  do |f| %>
        <%= render "admin/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :メールアドレス, class: "label" %>
          <p class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :パスワード, class: "label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
          <p class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :パスワード確認用, class: "label" %>
          <p class="control has-icons-left">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="actions">
          <%= f.submit "新規登録", class: "button is-success" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
